/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Plotly.js
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Dropdowns
- Spacing
- Utilities
- Clearing
- Media Queries
- Master Nav
- Tile Nav
- Tile Body
- fa fa tweaks
- Sidebar
- Grid
- Flexbox
- Date-Picker
- Tabs
*/

/* PLotly.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* plotly.js's modebar's z-index is 1001 by default
 * https://github.com/plotly/plotly.js/blob/7e4d8ab164258f6bd48be56589dacd9bdd7fded2/src/css/_modebar.scss#L5
 * In case a dropdown is above the graph, the dropdown's options
 * will be rendered below the modebar
 * Increase the select option's z-index
 */

/* This was actually not quite right -
   dropdowns were overlapping each other (edited October 26)

.Select {
    z-index: 1002;
}*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 0; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(50, 50, 50);
  margin: 0;
  height: 100%;
  overflow: hidden}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }
h1 { font-size: 4.5rem; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 1.8rem; margin-top: 1.8rem;}
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1.5rem; margin-top: 1.5rem;}
h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 1.2rem; margin-top: 1.2rem;}
h5 { font-size: 2.2rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 0.6rem; margin-top: 0.6rem;}
h6 { font-size: 2.0rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem;}

p {
  margin-top: 0; }


/* Blockquotes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
  border-left: 4px lightgrey solid;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: white;
  text-decoration: none;
  cursor: pointer;}
a:hover {
  background-color: #E6BFCC;
  color: #3B0012; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 1%;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  font-family: inherit;
  font-size: inherit; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"] {
    border-radius: 0;
},
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus {
    border: 1px solid #33C3F0;
    border-radius: 0;
},
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: 0px; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
input[type="number"]:invalid {
    border: 1px solid red;
    outline: 0;
}


.dashboard-title {
    height: 35px !important;
    width: 170px;
    margin: 0 0 0 20px;
    border: 0 !important;
    font-size: 13px !important;
    text-align: center;
    background-color: transparent !important;
    padding: 0 !important;
}


.tile-title {
    height: 30px !important;
    display: inline-block;
    margin: 0 0 0 10px;
    width: 150px;
    border: 0 !important;
    border-bottom: 1px solid #bbb !important;
    border-radius: 0 !important;
    font-size: 13px !important;
    text-align: center;
    background-color: transparent !important;
    padding: 0 !important;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}
th:not(.CalendarDay),
td:not(.CalendarDay) {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child:not(.CalendarDay),
td:first-child:not(.CalendarDay) {
  padding-left: 0; }
th:last-child:not(.CalendarDay),
td:last-child:not(.CalendarDay) {
  padding-right: 0; }


/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.ReactVirtualized__Grid__innerScrollContainer {
    overflow: visible !important;
    white-space: pre;
}



/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 0rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 0rem; }
pre,
dl,
figure,
table,
form {
  margin-bottom: 0rem; }
p,
ul,
ol {
  margin-bottom: 0.75rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


.show-hide{
  visibility: hidden;
  padding: 0;
}
.dash-spreadsheet-menu .dash-spreadsheet-menu-item .show-hide-menu {
    width: 300px;
}
.show-hide:before{
  content:'TOGGLE COLUMNS';
  visibility: visible;
  width: 300px;
  display: inline-block;
  height: 38px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  background-color: white;
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/* Master Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.master-nav {
    border: 0;
    margin: 0 0 0 20px;
    padding: 0;
    width: 51px;
    height: 35px;
    font-size: 12px;
}


/* Tile Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.tile-nav,
tile-nav {
    border: 0;
    margin: 0 0 0 20px;
    padding: 0;
    height: 30px;
    border-radius: 0;
    font-size: 10px;
    font-weight: 500;
    color: #555;
}
.tile-nav:focus,
tile-nav:focus {
    color: #555;}
.tile-nav:hover,
tile-nav:hover {
  color: #333;
  font-weight: 600;
  background-color: #ffffff;
}

.tile-nav--view {
    width: 50px;
}

.tile-nav--customize {
    width: 88px;
}

.tile-nav--layout {
    width: 69px;
}

.tile-nav--data {
    width: 50px;
}
.tile-nav--data:hover {
    background-color: #ffffff;
    color: #333;
    font-weight: 600;
}


.tile-nav--selected {
    border-bottom: 2px solid #888;
}
.tile-nav--selected:focus {
    border-bottom: 2px solid #888;
}
.tile-nav--selected:hover {
    border-bottom: 2px solid #888;
    color: #333;
    background-color: #ffffff;
}


.link-unselected {
    width: 30px;
    display: inline-block;
    height: 30px;
    margin: 0 0 0 20px;
    padding: 0;
    font-size: 10px;
    color: #555;
    border: 0;
}
.link-selected {
    width: 30px;
    display: inline-block;
    height: 30px;
    margin: 0 0 0 20px;
    padding: 0;
    font-size: 10px;
    color: #555;
    font-weight: 600;
    border: 0;
}


.boxclose{
    float:right;
    cursor:pointer;
    color: #555;
    font-size: 31px;
    font-weight: normal;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}
.boxclose:before {
    content: "×";
}
.boxclose:hover {
    background-color: #ffffff;
    color: #333;
}


/* Tile Body
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.customize-content {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    overflow: auto;
}


.fill-container {
    height: 100%;
    width: 100%;
    position:relative;
}

.tile-container {
    height: 100%;
    width: 100%;
    background-color: #fffafa;
    position: relative;
}

.tile-highlight {
    height: 100%;
    width: 100%;
    background-color: #ffe3e3; /*#FFF6F6*/
    position: relative;
}

.graph-container {
    height: 100%;
    width: 100%;
}

/* fa fa tweaks
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.fa-link {
    color: #555;
    font-size: 13px;
    margin: 0 0 0 20px;
    padding: 12px;
    width: 20px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}
.fa-link:hover {
    color: #333;
}


.fa-unlink {
    color: #555;
    font-size: 13px;
    margin: 0 0 0 20px;
    padding: 12px;
    width: 20px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}
.fa-unlink:hover {
    color: #333;
}


.fa-ban .save-symbols-tooltip,
.fa-floppy-o .save-symbols-tooltip,
.fa-undo .save-symbols-tooltip,
.save-overwrite-symbols .save-symbols-tooltip {
    visibility: hidden;
    position: absolute;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    top: 100%;
    z-index: 1000;
    width: 200px;
    color: white;
    background-color: #9B6072;
    margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
    left: 50%;
}
.fa-check .save-symbols-tooltip,
.fa-refresh .save-symbols-tooltip{
    visibility: hidden;
    position: absolute;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    top: 100%;
    z-index: 1000;
    width: 120px;
    color: white;
    background-color: #9B6072;
    margin-left: -100px;
    left: 50%;
}
.fa-ban:hover .save-symbols-tooltip,
.fa-floppy-o:hover .save-symbols-tooltip,
.fa-undo:hover .save-symbols-tooltip,
.fa-check:hover .save-symbols-tooltip,
.fa-refresh:hover .save-symbols-tooltip,
.save-overwrite-symbols:hover .save-symbols-tooltip {
    visibility: visible;
}
.fa-ban .save-symbols-tooltip::after,
.fa-floppy-o .save-symbols-tooltip::after,
.fa-undo .save-symbols-tooltip::after,
.save-overwrite-symbols .save-symbols-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px; /* border-width + padding */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #9B6072 transparent;
}
.fa-check .save-symbols-tooltip::after,
.fa-refresh .save-symbols-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: 30px; /* border-width + padding */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #9B6072 transparent;
}


/* Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggle-tabs-wrapper .tab--selected {
    background-color: #e6e6e6 !important;
    border-top: 1px solid #d6d6d6 !important;
    border-bottom: 1px solid #d6d6d6 !important;
}

.toggle-tabs-wrapper .tab {
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    width: 130px !important;
    display: inline-block !important;
    border-bottom: 1px solid #d6d6d6 !important;
    border-top: 1px solid #d6d6d6 !important;
}


/* grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grid-container {
  display: -ms-grid;
  display: grid;
  max-height: 100vh;
  max-width: 100vw;
}

/* flexbox
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flex-container {
  display: flex;
}

.flex-div-body-wrapper {
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}

/* Date Picker
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.seperated-radio-buttons input[type="radio"] {
    margin-bottom: 10px;
}

.date-picker-nav,
date-picker-nav {
    margin: 2px 0 0 0;
    border-radius: 0;
    border: 1px solid #555;
    padding: 0;
    width: 25%;
    height: 35px;
    font-size: 9px;
    font-weight: 500;
    color: #555;
    text-align: center;
    background-color: white;
}
.date-picker-nav:focus,
date-picker-nav:focus {
    color: #555;
    border: 1px solid #555;
}
.date-picker-nav:hover,
date-picker-nav:hover {
  color: #333;
  font-weight: 600;
  border: 1px solid #555;
  background-color: #c5a0ab;
  color: white;
}


.date-picker-nav-selected {
    margin: 2px 0 0 0;
    border-radius: 0;
    border: 1px solid #555;
    padding: 0;
    width: 25%;
    height: 35px;
    font-size: 9px;
    font-weight: 600;
    color: white;
    text-align: center;
    background-color: #9B6072;
}
.date-picker-nav-selected:focus,
date-picker-nav-selected:focus{
    color: white;
    border: 1px solid #555;

}
.date-picker-nav-selected:hover,
date-picker-nav-selected:hover {
    color: white;
    font-weight: 600;
    border: 1px solid #555;
    background-color: #9B6072;
}


.num-periods,
num-periods {
    width: 45px;
    height: 27px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: right;
    border-radius: 0;
    color: #333;
}
.num-periods:disabled,
num-periods:disabled {
    background-color: #F9F9F9;
}


#period-type-wrapper .Select-value-label {
    font-size: 15px;
    color: #333;
}

/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.boxadd{
    float:right;
    margin-left: 10px;
    text-align: center;
    cursor:pointer;
    color: #555;
    font-size: 31px;
    font-weight: normal;
    display: inline-block;
    line-height: 0px;
    padding: 17px 7px 0 7px;
    color: white;
}
.boxadd:before {
    content: "+";
}
.boxadd:hover {
    background-color: white;
    color: black;
}


.dashboard-tab-close,
.dashboard-tab-close:hover,
.dashboard-tab-close:focus {
    border: 0;
    position: relative;
    float: right;
    bottom: 10px;
    width: 10px;
    z-index: 2;
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
}


.dashboard-tab-close-selected {
    border: 0;
    bottom: 10px;
    position: relative;
    float: right;
    width: 10px;
    z-index: 2;
    height: 100%;
    padding: 0;
    margin: 0;
    color: black
}


.dashboard-tab-button,
.dashboard-tab-button:hover,
.dashboard-tab-button:focus  {
    height: 100%;
    border: 0;
    color: white;
    margin-left: 10px;
    padding: 0 25px 0 25px;
}
.dashboard-tab-button:disabled {
    color: black
}


.dashboard-tab-selected,
.dashboard-tab-selected:hover,
.dashboard-tab-selected:focus {
    width: 130px;
    height: 30px;
    display: inline-block;
    border: 0;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: white;
    text-align: center;
}


.dashboard-tab,
.dashboard-tab:hover,
.dashboard-tab:focus {
    width: 130px;
    height: 30px;
    display: inline-block;
    border: 0;
    border-right: 2px solid #760024;
    border-bottom: 2px solid #760024;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: #99002e;
    text-align: center;
}

.dash-spreadsheet-menu {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


}
/* Loading
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._data-loading {
    position: fixed;
    z-index: 100;
  }

._data-loading::after {
    content: 'Loading, Please Wait...';
    font-family: sans-serif;
    color: #000;

    -webkit-animation: fadein 0.5s ease-in 0s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s ease-in 0s forwards; /* Firefox < 16 */
        -ms-animation: fadein 0.5s ease-in 0s forwards; /* Internet Explorer */
         -o-animation: fadein 0.5s ease-in 0s forwards; /* Opera < 12.1 */
            animation: fadein 0.5s ease-in 0s forwards;
    /* prevent flickering on every callback */
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;

    /* The banner */
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 135vh;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: progress;
    z-index: 100000;

    background-image: url(http://127.0.0.1:8080/python/dashboard/assets/loading-screen.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 250px
  }

._graph-data-loading {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

._graph-data-loading::after {
    content: '';
    font-family: sans-serif;
    padding-top: 50px;
    color: #000;

    -webkit-animation: fadein 0.5s ease-in 0s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s ease-in 0s forwards; /* Firefox < 16 */
        -ms-animation: fadein 0.5s ease-in 0s forwards; /* Internet Explorer */
         -o-animation: fadein 0.5s ease-in 0s forwards; /* Opera < 12.1 */
            animation: fadein 0.5s ease-in 0s forwards;
    /* prevent flickering on every callback */
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;

    /* The banner */
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: progress;
    z-index: 100000;

    background-image: url(http://127.0.0.1:8080/python/dashboard/assets/loading-screen.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px
  }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }


/* Popup
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.prompt-box {
    position: fixed;
    z-index: 1000;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
  }