/*CLR = {'text1': 'black',
       'text2': '#EED5DD',
       'black': 'black',
       'white': 'white',
       'background1': '#99002e',
       'background2': '#9B6072',
       'highlight': '#ff407a',
       'lightgray': '#c7c7c7',
       'lightpink': '#fffafa',
       'lightergray': '#dedede',
       'sidebar-final': '#fffafa',
       'sidebar-initial': '#9B6072'}*/

.dashboard-header{
    border-bottom: 1px solid #c7c7c7;
    z-index: 99;
    width: 100%;
    background-color: #99002e;
    display: flex;
}

.dashboard-layout{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 15px);
    overflow: hidden;
    border-bottom: 1px solid #c7c7c7;
}
.dashboard-layout-color{
    background-color: #fffafa;
}

.dashboard-parent-nav-bar{
    border-bottom: 1px solid #c7c7c7;
    z-index: 99;
    width: 100%;
    top: 0;
    background-color: white;
}

.dashboard-tab,
.dashboard-tab:focus {
    width: 160px;
    height: 30px;
    display: inline-block;
    border: 0;
    border-right: 2px solid #760024;
    border-bottom: 2px solid #760024;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: #99002e;
    text-align: center;
}

.data-set{
    color: black;
    margin-top: 25px;
    display: inline-block;
}

.data-set-load-box{
    display: inline-block;
    height: 35px;
    margin-left: 20px;
    text-align: center;
    position: relative;
    vertical-align: top;
    background-color: white;
    width: 40px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    cursor: pointer;
}

.date-picker-option-title{
    margin-top: 20px;
    color: black;
    display: inline-block;
}

/* fa fa tweaks
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.fa-link {
    color: #555;
    font-size: 13px;
    margin: 0 0 0 20px;
    padding: 12px;
    width: 20px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}
.fa-link:hover {
    color: #333;
}

.fa-question-circle-o {
    color: #555;
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 4px;
    width: 20px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}
.fa-question-circle-o:hover {
    color: #333;
}

.fa-unlink {
    color: #555;
    font-size: 13px;
    margin: 0 0 0 20px;
    padding: 12px;
    width: 20px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}
.fa-unlink:hover {
    color: #333;
}


.fa-ban .save-symbols-tooltip,
.fa-floppy-o .save-symbols-tooltip,
.fa-undo .save-symbols-tooltip,
.save-overwrite-symbols,
.save-symbols-tooltip
{
    visibility: hidden;
    position: absolute;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    top: 100%;
    z-index: 1000;
    width: 200px;
    color: white;
    background-color: #9B6072;
    margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
    left: 50%;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.fa-check .save-symbols-tooltip,
.fa-refresh .save-symbols-tooltip,
.fa-question-circle-o .save-symbols-tooltip {
    visibility: hidden;
    position: absolute;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    top: 100%;
    z-index: 1000;
    width: 200px;
    color: white;
    background-color: #9B6072;
    margin-left: -100px;
    left: 50%;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}


.fa-ban:hover .save-symbols-tooltip,
.fa-floppy-o:hover .save-symbols-tooltip,
.fa-undo:hover .save-symbols-tooltip,
.fa-check:hover .save-symbols-tooltip,
.fa-refresh:hover .save-symbols-tooltip,
.fa-question-circle-o:hover .save-symbols-tooltip,
.save-overwrite-symbols:hover .save-symbols-tooltip {
    visibility: visible;
    opacity: 1;
}

.fa-ban .save-symbols-tooltip::after,
.fa-floppy-o .save-symbols-tooltip::after,
.fa-undo .save-symbols-tooltip::after,
.save-overwrite-symbols .save-symbols-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px; /* border-width + padding */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #9B6072 transparent;
}
.fa-check .save-symbols-tooltip::after,
.fa-refresh .save-symbols-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 31%;
  margin-left: 30px; /* border-width + padding */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #9B6072 transparent;
}