/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Forms
- Master Nav
- Tile Nav
- Table
*/



/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dashboard-title {
    width: 200px;
}


.tile-title {
    width: 170px;
}


/* Master Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.master-nav {
    width: 87px;
}


/* Tile Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.tile-nav--view {
    width: 80px;
}

.tile-nav--customize {
    width: 80px;
}

.tile-nav--layout {
    width: 80px;
}

.tile-nav--data {
    width: 80px;
}

.tile-nav--save {
    width: 80px;
}

/* Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.show-hide:before{
  content:'BASCULER LES COLONNES';
}

._data-loading::after {
    content: 'Chargement en cours, Veuillez patienter... ';
}


